<div class="container-fluid bg-light py-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <h1 class="text-center mb-4">Курс USD-RUB на <span id="date"></span></h1>
        <h2 class="text-center mb-4" id='rate'>0.00</h2>
      </div>
    </div>
  </div>
</div>